@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration: 0.25s;
}

@property --t {
  syntax: '<integer>';
  initial-value: 0;
  inherits: true;
}

@keyframes tick {
  from {
    --t: 0;
  }
  to {
    --t: 86400000;
  }
}

body {
  animation: tick 86400000ms linear infinite;
}
